<div mn-touch swipe-left="calculator.selectNextBand()" swipe-right="calculator.selectPreviousBand()">
	<p class='resistance-value' ng-bind-html='calculator.getResistanceValue() | resistance'></p>

	<div class='resistance-bands'>
		<a class='band' ng-click='calculator.selectBand($index)' ng-class="[calculator.getColor($index), (calculator.selectedBand == $index) ? 'selected' : ''] " href='' ng-repeat='band in calculator.bandsRange track by $index'>{{ band + 1 }}</a>
	</div>

	<resistance-color-picker colors="calculator.bandColors | orderBy: 'value'"><resistance-color-picker>
</div>