$colors-bands: (
	black: black,
	brown: brown,
	red: red,
	orange: orange,
	yellow: yellow,
	green: green,
	blue: blue,
	violet: violet,
	grey: grey,
	white: white,
	gold: gold,
	silver: silver
);

resistance-calculator {
	
	> div { overflow: hidden; height: 100%; }

	.resistance-value {
		text-align: center;
		font-size: 2em;
		margin: 1em;
		font-weight: bold;
	}

	.resistance-bands {
		width: 100%;
		text-align: center;
		height: 150px;
		a.band {
			display: inline-block;
			vertical-align: middle;
			height: 100px;
			width: 50px;
			border: 1px solid #c6c6c6;
			margin-right: 1em;

			&.selected {
				height: 150px;
			}
		}
	}	
}

resistance-color-picker {
	position: absolute;
	width: 100%;
	bottom: 0;
	.resistance-colors {
		overflow: hidden;
		li {
			float: left;
			width: 100/4 * 1%;
			height: 50px;
			border: 1px solid #c6c6c6;
		}
	}	
}

.resistance-bands .band, .resistance-colors li {
	@each $class, $val in $colors-bands {
		&.#{$class} {
			background-color: $val;
		}
	}
}

